language: node_js

git:
  depth: false

branches:
  only:
    - docs

node_js:
  - node

before_deploy:
  - npm run build
  
deploy:
  provider: pages
  github-token: $GITHUB_TOKEN
  local-dir: docs/.vuepress/dist
  skip-cleanup: true
  target-branch: master
  on:
    branch: docs
